<div class="text-center">

  <h2>
    <%= @currency.country %>
  </h2>
  <br>
  <p>1€ =
    <%= @currency.rate %>
    <%= @currency.short %>
  </p>
  <p class="time"> <%= @currency.created_at.strftime("Updated on %d/%m/%Y at %k:%M UTC")%></p>
<br><br>
  <h3>
    <a href="https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/eurofxref-graph-<%= @currency.short.downcase %>.en.html" target="_blank">Check the
      <%= @currency.country %>
      Official Rate
     </a> </h3> <br>
        <p><%= link_to "New Research with updated rates", root_path, :class => 'btn btn-outline-info' %></p>

</div>
